<div id="qg_tys" class="xiNanReport" style="padding-bottom: 10px; margin: 0px auto; padding-left: 0px; width: 643px; padding-right: 0px; background: rgb(255,255,255); color: rgb(79,79,79); padding-top:10px; border:1px solid">
    <div style="font-size:16px">
        <table  border="0" cellpadding="5" cellspacing="5" width="100%">
            <tbody>
                <tr>
                    <th nowrap="nowrap" colspan="6" align="center"><span style="font-size: 20px">
                    陆军军医大学第一附属医院（西南医院）</span></th>
                </tr>
                <tr>
                    <th nowrap="nowrap" colspan="6" align="center">
                    <h1 style="text-align: center; font-size: 24px">飞秒激光和准分子激光手术知情同意书</h1></th>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="font-size: 14px;">
        <table border="0" cellpadding="5" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <th height="30" nowrap="nowrap" width="10%" style="border-top:1px solid;border-right:1px solid;border-bottom:1px solid;" align="center">
                        ID号：</th>
                    <td width="15%" style="border-top:1px solid;border-right:1px solid;border-bottom:1px solid;" align="center">
                        <label id="caseNumber">caseNumber</label></td>
                    <th height="30" nowrap="nowrap" width="10%" style="border-top:1px solid;border-right:1px solid;border-bottom:1px solid;" align="center">
                        姓名：</th>
                    <td width="15%" style="border-top:1px solid;border-right:1px solid;border-bottom:1px solid;" align="center">
                        <label id="suffererName">suffererName</label></td>
                    <th nowrap="nowrap" width="10%" style="border-right:1px solid;border-top:1px solid;border-bottom:1px solid;" align="center">
                        性别：</th>
                    <td width="10%" style="border-right:1px solid;border-top:1px solid;border-bottom:1px solid;" align="center">
                        <label id="sex">sex</label></td>
                    <th nowrap="nowrap" width="10%" style="border-right:1px solid;border-top:1px solid;border-bottom:1px solid;" align="center">
                        年龄：</th>
                    <td width="10%" style="border-top:1px solid;border-bottom:1px solid;" align="center">
                        <label id="age">age</label></td>
                </tr>
                <tr>
                    <td align="left" colspan="8" height="120px" style="border-bottom:1px solid;line-height:33px;">
                     <h3 style="font-family:黑体;">一、疾病介绍和治疗建议</h3>
                     &nbsp;&nbsp;&nbsp;&nbsp;医生已告知我的______眼患有屈光不正（近视／散光／远视／屈光
                     参差），有以下治疗方式：1飞秒LASIK:2超薄LASIK;3普通LASIK;4 PRK;5  ICL/TICL:6 PRL:
                     7.戴镜。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;医生已口头详细介绍了各种方式的优缺点，我已经知晓。结合自身情况，我愿意选择_____________治疗方式进行治疗。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;屈光不正是指人眼在调节放松状态下，远处物体发出的平行光线不能良好聚焦在视网膜上，从而使得外界物体无法在视网膜上清晰成像，
                     进而影响患眼视力的一种病理状态。通常包括近视、远视、散光、屈光参差。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;飞秒激光和准分子激光角膜屈光手术是目前比较成熟有效的治疗方式，它通过激光精确切削角膜组织改变角膜屈光性质，
                     进而改变全眼球屈光状态的办法使患者术后减少对眼镜的依赖。激光手术治疗屈光不正可以减少使用框架眼镜矫正视力所带来的视物变形、视野缺损等缺陷，
                     以及避免由于长期佩戴隐形眼镜所带来的使用护理不便和眼部感染等风险。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;具体的手术技巧根据不同患者的情况有所区别，你的医生将会和你讨论具体的内容。</td>
                </tr><tr>
                    <td align="left" colspan="8" height="120px" style="line-height:33px;">                     
                    <h3 style="font-family:黑体;">二、潜在风险和对策</h3>
                     &nbsp;&nbsp;&nbsp;&nbsp;以下是手术可能发生的一些风险，有些不常见的风险可能没有在此列出，如果你有特殊的问题请与你的医生讨论。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;1．我理解任何手术麻醉都存在风险包括麻醉意外、眼心反射等，医务人员将尽力抢救。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;2．我理解任何所用药物都可能产生副作用，包括过敏、轻度恶心、皮疹等症状，严重的过敏性休克，甚至危及生命。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;3．我理解此手术可能发生的风险及医生可能采取的对策：<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;1)手术结膜下点状、小片状出血，多在3周后自行吸收；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;2)术中可能出现负压环不能吸附眼球而终止手术；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;3)因各种原因（解剖因素、机械故障、医患配合等）导致LASIK手术中角膜瓣不能完成时，需暂缓手术，半年后再次手术治疗；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;4)术后可能出现眼部疼痛、异物感，多在48小时内缓解恢复；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;5)术后可能出现眼干、视物有光晕感、眩光、视物对比度降低，大多数情况随时间会逐渐改善；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;6)术后暂时性视力下降、双眼视物不平衡，依据各人情况，大多数在3个月左右视力完全恢复；<br /><br />
           </td>
         </tr></table></div></div><br/>
         <div id="qg_tys1" class="xiNanReport" style="padding-bottom: 10px; margin: 0px auto; padding-left: 0px; width: 643px; padding-right: 0px; background: rgb(255,255,255); color: rgb(79,79,79); padding-top: 10px; border:1px solid">
<div style="font-size: 14px;">
         <table  border="0" cellpadding="0" cellspacing="0" width="100%">
         <tr>
         <td align="left" colspan="6" height="120px" style="border-bottom:1px solid;line-height:29px;">
              &nbsp;&nbsp;&nbsp;&nbsp;7)极少数情况下会出现角膜混浊、癞痕，特别是在不规律用药的情况下。请严格按照医生指导规律用药；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;8)术后角膜瓣下异物或上皮植入，需要依不同情况对症处理，必要时再次手术治疗；<br />
    &nbsp;&nbsp;&nbsp;&nbsp;9)极少数特别是高度屈光不正患者可能出现矫正不足、过矫或回退，术后仍可以佩戴低度数眼镜矫正，或是在眼部条件许可的情况下，
                     经慎重评估，半年后再次手术；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;10)术后用药过程中可能出现激素性青光眼，大多数情况下停用激素性药物，眼压即可恢复正常，不遗留永久损害，
                     必要时需加用降眼压药物控制病情。为尽量避免出现上述问题，患者术后需按医嘱定期复查、监测眼压；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;11)极少数情况下术后会出现角膜感染、穿孔，需根据不同情况积极抗炎、对症处理，必要时需再次手术治疗；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;12)极少数情况下会出现激光切削区偏离中心，症状轻微者无需治疗，必要时需再次手术矫正；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;13)极少数情况下术后会出现角膜瓣脱落、融解或继发圆锥角膜，需积极寻找病因控制病情进展，对症治疗，必要时行角膜移植手术；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;14)剔因手术只通过改变角膜曲率以矫正屈光不正，无助于眼底病变的治疗，如手术前后期出现黄斑病变或视网膜脱离等眼底病症，应及时到相应专科就诊；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;15)补充激光治疗时，如原角膜瓣掀开困难，刚需半年后重新制作角膜瓣后再行补充激光治疗；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;16)部分患眼因自身弱视原因术后视力提高可能受限；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;17)其他难以预料的情况；<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;4．我理解如果我患有高血压、心脏病、糖尿病、肝肾功能不全，过敏体质或免疫系统等病症，以上这些风险可能会加大，或者在术中／术后出现相关的病情加重。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;5．我理解术后如果我的护理不当或不道医嘱，可能影响手术效果。<br /></td>
                </tr><tr>
                    <td align="left" colspan="6" height="120px" style="border-bottom:1px solid;line-height:29px;">
                    <h3 style="font-family:黑体;">三、患者知情选择</h3>
                     &nbsp;&nbsp;&nbsp;&nbsp;我的医生已经告知我将要进行的手术方式、此次手术及术后可能发生的并发症、风险、以及可能存在的其他治疗方式，并且解答了我关于此次手术的相关问题。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;我同意在术中医生可以根据我的病情对预定的手术方式做出调整。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;我理解我的手术需要多位医生共同进行。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;我并未得到手术百分之百成功的许诺。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;我明白签署此同意书意义在于告知我病情。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;我明白签署此同意书并不表示放弃合法权益以及医院免责。<br />
                     &nbsp;&nbsp;&nbsp;&nbsp;被告知人签名_____________ &nbsp;&nbsp;&nbsp;&nbsp;与患者关系____________ &nbsp;&nbsp;&nbsp;&nbsp;签名日期_____________
                     </td>
                </tr><tr>
                    <td align="left" colspan="6" style="line-height:29px;">
                    <h3 style="font-family:黑体;">四、医生陈述</h3>
                    &nbsp;&nbsp;&nbsp;&nbsp;我已经告知患者将要进行的手术方式、此次手术及术后可能发生的并发症、风险、以及可能存在的其他治疗方法，并且解答了患者关于此次手术的相关问                    题。我们在诊治过程中将尽力预防以上风险或意外情况的发生。<br /><br />
                    &nbsp;&nbsp;&nbsp;&nbsp;医生签名_______________                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;签名日期________________</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>                               
