 <div id="chongqingxinanbaogao" style="padding-bottom: 5px; margin: 0px auto; padding-left: 10px; width: 600px; padding-right: 10px; background: rgb(255,255,255); padding-top: 0px;">
 <div style="float:right;margin-top:10px"><span>日期：</span><span id="date_print_qg_jj_bl"></span></div>
    <h1 style="text-align: center; font-size: 24px">
        眼屈光手术中心病历</h1>
    <div style="border-bottom: rgb(51,51,51) 2px solid; font-size: 14px; border-top: rgb(51,51,51) 2px solid">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
                <tr>
                    <th nowrap="nowrap" width="14%">
                        ID号：</th>
                    <td width="14%">
                        <label id="caseNumber">caseNumber</label></td>
                    <th height="30" nowrap="nowrap" width="9%">
                        姓名：</th>
                    <td width="18%">
                        <label id="suffererName">suffererName</label></td>
                    <th nowrap="nowrap" width="10%">
                        性别：</th>
                    <td width="11%">
                        <label id="sex">sex</label></td>
                    <th nowrap="nowrap" width="13%">
                        年龄：</th>
                    <td width="11%">
                        <label id="age">age</label></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
  <div id="chongqingxinanbaogao" style="padding-bottom: 10px; margin: 0px auto; padding-left: 10px; width:600px; padding-right: 10px; background: rgb(255,255,255); color: rgb(79,79,79); padding-top: 0px;border:0px solid;font-size:14px;">
        <table cellpadding="5" cellspacing="0" width="100%" style="border-top:1px solid black;border-left:1px solid black;font-size:12px;">
               
                <tr>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;height:14px;width:10%;">眼别</td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;width:30%;">
                        右
                    </td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;width:30%;">
                       左
                    </td>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;width:10%;">签字</td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;height:14px;width:10%;">视&nbsp;&nbsp;力</td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;width:30%;">
                        <input type="text" id="ysl_r" style="width:40px;border:0px;"/>&nbsp;&nbsp;远&nbsp;&nbsp;<input type="text" id="jsl_r" style="width:40px;border:0px;"/>&nbsp;&nbsp;近
                    </td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;width:30%;">
                        <input type="text" id="ysl_l" style="width:40px;border:0px;"/>&nbsp;&nbsp;远&nbsp;&nbsp;<input type="text" id="jsl_l" style="width:40px;border:0px;"/>&nbsp;&nbsp;近
                    </td>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;width:10%;"><label id="sl_qz"></label></td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;height:14px;">眼&nbsp;&nbsp;压</td>
                    <td align="center" nowrap="nowrap"  style="border-right:1px solid black;border-bottom:1px solid black;">
                        <input type="text" id="yanya_r" style="width:40px;border:0px;"/>&nbsp;&nbsp;mmHg</td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;" >
                        <input type="text" id="yanya_l" style="width:40px;border:0px;"/>&nbsp;&nbsp;mmHg</td>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;">
                    <label id="yanya_qz"></label></td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;line-height:20px;">角&nbsp;&nbsp;膜<br />地形图</td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;height:60px;line-height:20px;">
                        K1&nbsp;&nbsp;<input type="text" id="jmdxt_K1_r" style="width:40px;border:0px;"/>&nbsp;&nbsp;K2&nbsp;&nbsp;<input type="text" id="jmdxt_K2_r" style="width:40px;border:0px;"/><br/>@&nbsp;&nbsp;<input type="text" id="jmdxt_a_r" style="width:40px;border:0px;"/>&nbsp;&nbsp;DK&nbsp;&nbsp;<input type="text" id="jmdxt_DK_r" style="width:40px;border:0px;"/>
<br/>    角膜直径<input type="text" id="jmzj_r" style="width:40px;border:0px;"/>&nbsp;&nbsp;mm</td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;line-height:20px;" >
                        K1&nbsp;&nbsp;<input type="text" id="jmdxt_K1_l" style="width:40px;border:0px;"/>&nbsp;&nbsp;K2&nbsp;&nbsp;<input type="text" id="jmdxt_K2_l" style="width:40px;border:0px;"/><br/>
@&nbsp;&nbsp;<input type="text" id="jmdxt_a_l" style="width:40px;border:0px;"/>&nbsp;&nbsp;DK&nbsp;&nbsp;<input type="text" id="jmdxt_DK_l" style="width:40px;border:0px;"/><br/>角膜直径<input type="text" id="jmzj_l" style="width:40px;border:0px;"/>&nbsp;&nbsp;mm</td>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;">
                    <label id="jmdxt_K1_qz"></label></td>
                </tr>
                <tr>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;height:14px;">
                    散瞳试片</td>
                    <td align="left" nowrap="nowrap"  style="border-right:1px solid black;border-bottom:1px solid black;">
                    <input type="text" id="stsp_r4" style="width:50px;border:0px;text-align:center;"/>&nbsp;&nbsp;
                    <input type="text" id="stsp_r1" style="width:50px;border:0px;text-align:center;"/><input type="text" id="stsp_r2"  style="width:50px;border:0px;text-align:center;"/>→<input type="text" id="stsp_r3" style="width:50px;border:0px;text-align:center;"/></td>
                    <td align="left" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;" >
                    <input type="text" id="stsp_l4" style="width:50px;border:0px;text-align:center;"/>&nbsp;&nbsp;
                    <input type="text" id="stsp_l1" style="width:50px;border:0px;text-align:center;"/><input type="text" id="stsp_l2" 
style="width:50px;border:0px;text-align:center;"/>→<input type="text" id="stsp_l3" style="width:50px;border:0px;text-align:center;"/></td>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;">
                    <label id="stsp_qz"></label></td>
                </tr><tr>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;height:30px;">
                    角膜厚度</td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;" >
                    <input type="text" id="jmhd_r" style="width:80%;border:0px;"/>μm</td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;" >
                    <input type="text" id="jmhd_l" style="width:80%;border:0px;"/>μm</td>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;">
                    <label id="jmhd_qz" onclick="openFloatDiv1('jmhd_qz','jmhd_qz_gh');" onkeydown="closeFloatDiv1()" style="cursor:pointer;"></label>
                    <label id="jmhd_qz_gh" style="display:none;"></label></td>
                </tr><tr>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;height:14px;">
                    前节检查</td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;" >
                    <input type="text" id="qjjc_r" style="width:98%;border:0px;" onclick="openFloatDiv('qjjc_r');" onkeydown="closeFloatDiv()"/></td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;" >
                    <input type="text" id="qjjc_l" style="width:98%;border:0px;" onclick="openFloatDiv('qjjc_l');" onkeydown="closeFloatDiv()"/></td>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;">
                    <label id="qjjc_qz"></label></td>
                </tr><tr>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;height:60px;">
                    眼底检查</td>
                    <td align="center" nowrap="nowrap"  style="border-right:1px solid black;border-bottom:1px solid black;">
                    <textarea id="ydjc_r" style="width:98%;height:58px;border:0px;font-size:12px;" onclick="openFloatDiv('ydjc_r');" onkeydown="closeFloatDiv()"></textarea></td>
                    <td align="center" nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;" >
                    <textarea id="ydjc_l" style="width:98%;height:58px;border:0px;" onclick="openFloatDiv('ydjc_l');" onkeydown="closeFloatDiv()"></textarea></td>
                    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;">
                    <label id="ydjc_qz"></label></td>
                </tr>
		 <tr>
		    <td nowrap="nowrap" style="border-right:1px solid black;border-bottom:1px solid black;height:50px;width:10%;">处理意见</td>
                    <td colspan="3" style="border-right:1px solid black;border-bottom:1px solid black;height:50px;">
                         <textarea id="clyj" style="width:98%;height:48px;border:0px;font-size:12px;" onclick="openFloatDiv('clyj');" onkeydown="closeFloatDiv()"></textarea>
                    </td>
                </tr>
        </table>    
</div>