	<div class="qrcode" style="float:left;margin-left:5px;margin-right:5px;"></div>
	<div style="float:left;">请扫描二维码<br/>进自助机缴费<br/><span class="hidespan"><font style="font-size:18px;font-weight:bold;">军人优先</font></span></div>
	<div class="barcodeDiv"></div>
	<h1 style="height:35px;line-height:20px;">陆军军医大学第一附属医院（西南医院）</h1>
	<h2 style="height:25px;line-height:25px;">门诊手术申请单</h2>
	<div class="patient" style="font-size:14px;">
	<span class="title">ID号：</span><span class="replaceTxt">{binglihao}</span>
	<span class="title">姓名：</span><span class="replaceTxt">{xingming}</span>
	<span class="title">性别：</span><span class="replaceTxt">{sex}</span>
	<span class="title">年龄：</span><span class="replaceTxt">{age}</span>
	<span class="title">费别：</span><span class="replaceTxt" >{chargeType}</span><br/>
	<span class="title">科室：</span><span class="replaceTxt" id="location"></span>
	<span class="title hidespan">身份：</span><span class="replaceTxt hidespan">{job}</span><br/>
	<span class="title"  id="zdTran">诊断：</span><span class="replaceTxt"  id="printZd" >{zhenduan}</span>
	</div>
	<div class="orderList" style="font-size:14px;">
	</div>
	<div class="bottom">
		<table style="width:100%;font-size:14px;">
			<tr>
				<td width="15%"><span class="title">申请医生：</span></td><td width="35%"><span class="replaceTxt doctor">{kdys}</span></td>
				<td width="15%"><span class="title">申请时间：</span></td><td width="35%"><span class="replaceTxt">{kdsj}</span></td>
			</tr>
		</table>
			<div class="infomation">西南眼科医院网站：http://www.swehchina.com.cn;  http://www.swehchina.com &nbsp; <span class="jungaiJifei" style="font-size:12px; font-weight:bold; text-align:center; visibility: hidden">已军改计费</span></div>
	</div>