<tr >
	<td class="tdTitle" rowspan="3">视力</td>
	<td class="input"><span class="eyeTitle">裸眼视力</span><span class="replaceTxt canBeInput rl" >{rl}</span></td>
	<td class="input"><span class="eyeTitle">裸眼视力</span><span class="replaceTxt  canBeInput ll">{ll}</span></td>
</tr>
<tr>
	<td class="input"><span class="eyeTitle">近视力</span><span class="replaceTxt canBeInput rj">{rj}</span></td>
	<td class="input"><span class="eyeTitle">近视力</span><span class="replaceTxt canBeInput lj">{lj}</span></td>
</tr>
<tr>
<td>
	<table>
		<tr><td class="eyeTitle" rowspan="2">矫正视力</td><td class="input"><span class="eyeTitle">矫正视力</span><span class="replaceTxt canBeInput rjz">{rjz}</span></td></tr>
		<tr><td class="input"><span class="eyeTitle">ETDRs</span><span class="replaceTxt canBeInput redtrs">{redtrs}</span></td></tr>
	</table>
</td>
<td>
	<table>
		<tr><td class="eyeTitle" rowspan="2">矫正视力</td><td class="input"><span class="eyeTitle">矫正视力</span><span class="replaceTxt canBeInput ljz">{ljz}</span></td></tr>
		<tr><td class="input"><span class="eyeTitle">ETDRs</span><span class="replaceTxt canBeInput ledtrs">{ledtrs}</span></td></tr>
	</table>
</td>
</tr>
