
<div style="float:left;"><div style="/*border:#000 solid 1px;*/ font-size: 20px; margin-top:0px;margin-left:5px; clear:both;">门诊</div>
<div style="padding-top:5px;padding-left:20px;font-size:20px" id='isUrgent' >普</div></div>
<div class="qrcode" style="float:left;margin-left:2px;margin-right:2px;"></div>
<div style="float:left;">请扫描二维码<br/>进自助机缴费<br/><span class="hidespan"><font style="font-size:18px;font-weight:bold;">军人优先</font></span></div>
<div class="barcodeDiv"></div>
<h2 style="text-align: center;height:40px;line-height:20px;">
		陆军军医大学第一附属医院（西南医院）</h2>
        <h2 style="height:28px;line-height:20px;">（院前）检查申请单</h2>
	<div style="border-bottom: rgb(51,51,51) 2px solid; font-size: 14px; border-top: rgb(51,51,51) 2px solid">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
            <th width="10%"><span >姓名：</span></th>
			<td width="10%"><span class="replaceTxt">{xingming}</span></td>
            <th width="10%"><span >性别：</span></th>
			<td width="10%"><span class="replaceTxt">{sex}</span></td>
            <th width="10%"><span >年龄：</span></th>
			<td width="10%"><span class="replaceTxt">{age}</span></td>
			<th width="10%"><span >ID号：</span></th>
			<td width="10%"><span class="replaceTxt">{binglihao}</span></td>
		</tr>
<tr class="hidespan"><td colspan="8"><span class="title hidespan">身份：</span><span class="replaceTxt hidespan">{job}</span></td></tr>
			</tbody>
		</table>
	</div>
	<div class="orderList" style="font-size:14px;">
    ads
    </div>
<!--     <div  style="font-size: 14px; padding-top: 1px;">
    	注意事项：<div>放射科上下班时间为上午８：００－１２：００，下午１：００－４：３０；周末下午休息。</div>
        <div>夜间急诊病人请到门诊二楼北二区登记台联系值班医生。</div>
    </div> -->
	<div style="font-size: 14px; padding-top: 1px; border-top: rgb(51,51,51) 2px solid">
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr>
					<th height="30" nowrap="nowrap" width="15%">
						申请科室：</th>
					<td width="19%">
						<span class="replaceTxt">{keshi}</span></td>
					<th nowrap="nowrap" width="15%">
						申请医生：</th>
					<td width="19%">
						<span class="replaceTxt">{kdys}</span></td>
					<th nowrap="nowrap" width="15%">
						申请时间：</th>
					<td width="19%">
						<span class="replaceTxt">{kdsj}</span></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="infomation">提醒：院前检查项目不能使用医保卡，只能使用现金和银行卡支付。&nbsp;<span class="jungaiJifei" style="font-size:12px; font-weight:bold; text-align:center; visibility: hidden">已军改计费</span>
	</div>
