<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	</head>
	<body>
	<div> 
   <div class="title">
    <div class="titleT">
     <span class="title1"></span>论文管理
    </div>
   </div> 
   <div id="advquery" class="advquery">
    <table>
     <tbody>
      <tr>
       <td width="10%" class="leftalign"><select name="categoryId"><option value="8201">科研</option><option value="8202">教学</option></select></td>
       <td width="23%" class="leftalign"><input class="blur blurview" name="keyword" /></td>
       <td width="7%"><a class="search">查询</a></td>
       <td>
        <div class="btn">
         <a id="btn_add"><span class="add"></span>新增</a>
         <a id="btn_edit"><span class="edit"></span>修改</a>
         <a id="btn_del"><span class="del"></span>删除</a>
         <a id="btn_start"><span class="start"></span>发布</a>
          
        </div></td>
      </tr>
     </tbody>
    </table>
   </div> 
  </div> 
	</body>
</html>
  
 