<input type="hidden" id="id" name="id" />
		<table style="width:608px">
			<tr><td style="width:88px; font-size:14px; font-weight:bold; text-align:right">分类</td><td><select name="categoryId"></select></td></tr>
			<tr><td style="width:88px; font-size:14px; font-weight:bold; text-align:right">标题</td><td><input type="text" name="title" id="title" style="width:100%" /></td></tr>
			<tr><td style="width:88px; font-size:14px; font-weight:bold; text-align:right">作者</td><td><input type="text" name="author" id="author" style="width:100%" /></td></tr>
			<tr><td style="width:88px; font-size:14px; font-weight:bold; text-align:right">发表刊物</td><td><input type="text" name="publication" id="publication" style="width:100%" /></td></tr>
			<tr><td style="width:88px; font-size:14px; font-weight:bold; text-align:right">期刊号</td><td><input type="text" name="ISSN" id="ISSN" style="width:100%" /></td></tr>
			<tr><td style="width:88px; font-size:14px; font-weight:bold; text-align:right">内容摘要</td><td><textarea name="infomation" style="width:100%; height:108px" id="infomation"></textarea></td></tr>
			<tr><td style="width:88px; font-size:14px; font-weight:bold; text-align:right">关键字</td><td><input type="text" name="keyword" id="keyword" style="width:100%" /></td></tr>
			<tr><td style="width:88px; font-size:14px; font-weight:bold; text-align:right">正文</td><td><textarea name="content" id="content" style="width:100%; height:518px;"></textarea></td></tr>
			<tr><td></td><td><input type="checkbox" name="publish" id="publishtrue" value="true" /><label for="publishtrue">直接发布</label></td></tr>
			<tr>
				<td></td>
				<td><div class="openbutton"><a><span class="advsumit"></span>提交</a><a><span class="advreset"></span>重置</a></div></td>
			</tr>
		</table>