<input type="hidden" name="id" id="id" />
<table>
	<tr>
		<td style="width:48px; text-align:right;">名称</td><td><input type="text" name="name" id="name" style="width:100%" /></td>
		<td style="width:48px; text-align:right;">类别</td><td align="left"><input type="radio" name="category" value="0" id="category0" /><label for="category0">出库</label>&nbsp;<input type="radio" name="category" value="1" id="category1" /><label for="category1">入库</label></td>
	</tr>
	<tr>
		<td style="width:48px; text-align:right;">简介</td><td colspan="3"><textarea name="note" id="note" style="width:100%"></textarea></td>
	</tr>
</table>