<div id='jtcy'>
	<input type="hidden" name="id" id="id" />
<input type="hidden" name="gonghao" id="gonghao" />
	<table>
	    <tr style="border:1px solid">
	       <th style="width:70px; text-align:center; font-weight:bold">第一学历</th>
	       <th style="width:300px; text-align:center; font-weight:bold">毕业院校</th>
	       <th style="width:100px; text-align:center; font-weight:bold">专   业</th>
	    </tr>
	    <tr>
	       <td style="width:70px; text-align:center; font-weight:bold"><input type='text'  name='chengwei' style='width:100%'></td>
	       <td style="width:70px; text-align:center; font-weight:bold"><input type='text' name='chengwei' style='width:100%'></td>
	       <td style="width:300px; text-align:center; font-weight:bold"><input type='text' name='danwei' style='width:100%'></td>
	    </tr>
	</table>
</div>