<div id='jtcy'>
	<input type="hidden" name="id" id="id" />
<input type="hidden" name="gonghao" id="gonghao" />
	<table>
	    <tr style="border:1px solid">
	       <th style="width:200px; text-align:center; font-weight:bold">起止时间</th>
	       <th style="width:300px; text-align:center; font-weight:bold">学校（单位）</th>
	    </tr>
	    <tr>
	       <td style="width:70px; text-align:center; font-weight:bold"><input type='text'  name='chengwei' style='width:100%'></td>
	       <td style="width:70px; text-align:center; font-weight:bold"><input type='text' name='chengwei' style='width:100%'></td>
	    </tr>
	</table>
</div>