<input type="hidden" name="id" id="id" />
<input type="hidden" name="gonghao" id="gonghao" />
<table>
	<tr><td style="width:58px; text-align:right; font-weight:bold">学   位</td><td><input type="text" name="danwei" id="danwei" style="width:100%; " /></td></tr>
	<tr><td style="width:100px; text-align:right; font-weight:bold">职称等级及时间</td><td><input type="text" name="startDate" id="startDate" style="width:100%;" /></td></tr>
	<tr><td style="width:100px; text-align:right; font-weight:bold">执业资格及时间</td><td><input type="text" name="bumen" id="bumen" style="width:100%; " /></td></tr>
</table>