<html>
	<head>
		<title>解放军</title>
		<meta charset="UTF-8">
		<style type="text/css"> body{ margin:0; padding:0; font-size:13px; margin-left: 0px; font-family: "宋体"; }
	td{ margin:0; padding:4px; font-size:13px; font-family: "宋体"; }
	#page{padding:10px 0 0; width:794px; margin:auto; background:#fff; text-align:center}
	.span{font-size:10px}
	p{line-height:2; margin:0; padding:0 }
	.table1 { margin:auto; BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 0px solid }
	.td1 { BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 0px solid; BORDER-LEFT: #000000 0px solid; BORDER-BOTTOM: #000000 1px solid; width:200px; }
	</style>
	</head>
	<body bgcolor="#9099ae">
		<div id="page">
			<div style="TEXT-ALIGN:left; MARGIN:auto; WIDTH:606px">
				<p align="center"><span style="FONT-FAMILY: 宋体; FONT-SIZE: 21px">陆军军医大学第一附属医院（西南医院）</span></p>
				<hr>
				</hr>
				<p align="center"><span style="FONT-FAMILY: 宋体; FONT-SIZE: 18px; FONT-WEIGHT: bold">手术安全核查表</span></p>
				<p><span>科别:<u>#department</u>&nbsp;&nbsp;患者姓名:<u>#patientName</u>&nbsp;&nbsp;&nbsp;性别:<u>#patientSex</u>&nbsp;&nbsp;&nbsp;年龄:<u>#patientAge</u>&nbsp;</span></p>
				<p><span>ID号:<u>#idnumber</u>&nbsp;&nbsp;&nbsp;麻醉方式:<u>#mzfunction</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手术方式:#operationName&nbsp;</span></p>
				<p><span>术者:<u>#operator</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;手术日期:<u>#operationDate</u></span></p>
			</div>
			<table width="606" class="table1" cellSpacing="0" cellPadding="0">
				<tr style="DISPLAY:none">
					<td width="202">&nbsp;</td>
					<td width="202">&nbsp;</td>
					<td width="202">&nbsp;</td>
				</tr>
				<tr>
					<td class="td1">
						<p><span style="FONT-FAMILY: 宋体; FONT-SIZE: 14px; FONT-WEIGHT: bold">麻醉实施前</span></p>
					</td>
					<td class="td1">
						<p><span style="FONT-FAMILY: 宋体; FONT-SIZE: 14px; FONT-WEIGHT: bold">手术开始前</span><span>（切开皮肤前）</span></p>
					</td>
					<td class="td1">
						<p><span style="FONT-FAMILY: 宋体; FONT-SIZE: 14px; FONT-WEIGHT: bold">患者离开手术室前</span></p>
					</td>
				</tr>
				<tr>
					<td class="td1" valign="top">
						<p><span>患者姓名、性别、年龄正确：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>手术方式确认：</span><span>&nbsp;是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>手术部位与标识正确：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>手术知情同意：</span><span>&nbsp;是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>麻醉知情同意：</span><span>&nbsp;是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>麻醉方式确认：</span><span>&nbsp;是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>麻醉设备安全检查完成：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>皮肤是否完整：</span><span>&nbsp;是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>术野皮肤准备正确：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>静脉通道建立完成：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>患者是否有过敏史：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>抗菌药物皮试结果：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>有</span><span>□</span><span>无</span><span>□</span></p>
						<p><span>术前备血：</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有</span><span>□</span><span>无</span><span>□</span></p>
						<p><span>假体</span><span>□</span><span>体内植入物</span><span>□</span><span>/影像学<br>资料</span><span>□</span><span>/病理资料</span><span>□</span></p>
						<p>&nbsp;</p>
						<p><span>其他:</span><span>&nbsp;</span></p>
						<p>&nbsp;</p>
					</td>
					<td valign="top" class="td1">
						<p><span>患者姓名、性别、年龄正确：</span>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>手术方式确认：</span><span>&nbsp;是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>手术部位与标识确认：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span></span>&nbsp;</p>
						<p><span style="FONT-FAMILY: 宋体; FONT-SIZE: 13px; FONT-WEIGHT: bold">手术、麻醉风险预警：</span></p>
						<p><span>手术医师陈述:</span></p>
						<p align="right" style="PADDING-RIGHT:35px"><span>预计手术时间</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:35px"><span>预计失血量</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:35px"><span>手术关注点</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:35px"><span>其他</span><span>□</span></p>
						<p><span>麻醉医师陈述:</span></p>
						<p align="right" style="PADDING-RIGHT:35px"><span>麻醉关注点</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:35px"><span>其他</span><span>□</span></p>
						<p><span>手术护士陈述:</span></p>
						<p align="right" style="PADDING-RIGHT:35px"><span>物品灭菌合格</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:35px"><span>仪器设备</span><span>□</span></p>
						<p align="left" style="PADDING-RIGHT:5px"><span>术前术中特殊用药情况（含临时</span></p>
						<p align="left" style="PADDING-RIGHT:5px"><span>医嘱本）</span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;□</span></p>
						<p align="right" style="PADDING-RIGHT:35px"><span>其他</span><span>□</span></p>
						<p><span>是否需要相关影像资料:</span></p>
						<p align="right" style="PADDING-RIGHT:35px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>其他:</span></p>
					</td>
					<td class="td1" valign="top">
						<p><span>患者姓名、性别、年龄正确：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>实际手术方式确认：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>手术用药、输血的核查：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>手术用物清点正确：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>手术标本确认：</span><span>&nbsp;是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span>皮肤是否完整：</span><span>&nbsp;是</span><span>□</span><span>否</span><span>□</span></p>
						<p><span style="FONT-FAMILY: 宋体; FONT-SIZE: 12px; FONT-WEIGHT: bold">各种管路：</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>中心静脉通路</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>动脉通路</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>气管插管</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>伤口引流</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>胃管</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>尿管</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>其他_______</span><span>□</span></p>
						<p><span style="FONT-FAMILY: 宋体; FONT-SIZE: 12px; FONT-WEIGHT: bold">患者去向:</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>恢复室</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>病房</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>ICU病房</span><span>□</span></p>
						<p align="right" style="PADDING-RIGHT:49px"><span>离院</span><span>□</span></p>
						<p><span>其他:</span></p>
					</td>
				</tr>
				<tr>
					<td class="td1">
						<p align="center" class="span" style="LINE-HEIGHT:2"><span style="WIDTH:222px; DISPLAY:block; -webkit-transform:scale(0.833);margin-left:-20px;">手术医师签名：______签字时间:__时__分</span></p>
						<p align="center" class="span" style="LINE-HEIGHT:2"><span style="WIDTH:222px; DISPLAY:block; -webkit-transform:scale(0.833);margin-left:-20px;">麻醉医师签名：______签字时间:__时__分</span></p>
						<p align="center" class="span" style="LINE-HEIGHT:2"><span style="WIDTH:222px; DISPLAY:block; -webkit-transform:scale(0.833);margin-left:-20px;">手术室护士签名：____签字时间:__时__分</span></p>
					</td>
					<td class="td1">
						<p align="center" class="span" style="LINE-HEIGHT:2"><span style="WIDTH:222px; DISPLAY:block; -webkit-transform:scale(0.833);margin-left:-20px;">手术医师签名：______签字时间:__时__分</span></p>
						<p align="center" class="span" style="LINE-HEIGHT:2"><span style="WIDTH:222px; DISPLAY:block; -webkit-transform:scale(0.833);margin-left:-20px;">麻醉医师签名：______签字时间:__时__分</span></p>
						<p align="center" class="span" style="LINE-HEIGHT:2"><span style="WIDTH:222px; DISPLAY:block; -webkit-transform:scale(0.833);margin-left:-20px;">手术室护士签名：____签字时间:__时__分</span></p>
					</td>
					<td class="td1">
						<p align="center" class="span" style="LINE-HEIGHT:2"><span style="WIDTH:222px; DISPLAY:block; -webkit-transform:scale(0.833);margin-left:-20px;">手术医师签名：______签字时间:__时__分</span></p>
						<p align="center" class="span" style="LINE-HEIGHT:2"><span style="WIDTH:222px; DISPLAY:block; -webkit-transform:scale(0.833);margin-left:-20px;">麻醉医师签名：______签字时间:__时__分</span></p>
						<p align="center" class="span" style="LINE-HEIGHT:2"><span style="WIDTH:222px; DISPLAY:block; -webkit-transform:scale(0.833);margin-left:-20px;">手术室护士签名：____签字时间:__时__分</span></p>
					</td>
				</tr>
			</table>
			<p><span></span>&nbsp;</p>
			<p><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
			<p><span>第&nbsp;</span>1<span>&nbsp;页</span></p>
			<table height="40" align="center">
				<tr>
					<td>
					</td>
				</tr>
			</table>
			</TD></TR></TABLE>
		</div>
		<script type="text/javascript">
    setTimeout(function(){
	    window.print();
	    window.close();
	},1500);
		</script>
	</body>
</html>
