<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<title>解放军</title>
<style type="text/css">

body{margin:0; padding:0}
body,td{font-size:13px}
#page{padding:28px 0 0; width:794px; margin:auto; background:#fff; text-align:center}
p{line-height:1.8; margin:0; padding:0}
.table1 {
BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 0px solid
}
.td1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 0px solid; BORDER-LEFT: #000000 0px solid; BORDER-BOTTOM: #000000 1px solid
}
</style>
</head>
<body bgcolor="#9099ae">

<div id="page">
    <table width="606" align="center">
        <tr><td>
            <p align="center"><span style="font-family: 宋体; font-size: 21px;">陆军军医大学第一附属医院（西南医院）</span></p>
            <hr></hr>
            <p align="center"><span style="font-family: 宋体; font-size: 24px;font-weight: bold;">术前病情及手术风险评估表</span></p>
            <p><span style="font-family: 宋体; font-size: 13px;">姓名:</span><span style="font-family: 宋体; font-size: 13px;">#patientName</span>&nbsp; <span style="font-family: 宋体; font-size: 13px;">性别:</span> <span style="font-family: 宋体; font-size: 13px;">#patientSex</span>&nbsp; <span style="font-family: 宋体; font-size: 13px;">年龄:</span><span style="font-family: 宋体; font-size: 13px;">#patientAge</span>&nbsp;
                <span style="font-family: 宋体; font-size: 13px;">科室:</span><span style="font-family: 宋体; font-size: 13px;">#department</span>&nbsp; <span style="font-family: 宋体; font-size: 13px;">ID号:</span><span style="font-family: 宋体; font-size: 13px;">#idnumber</span></p>
            <p><span style="font-family: 宋体; font-size: 13px;">手术日期:</span><span style="font-family: 宋体; font-size: 13px;">#operationDate</span></p>
            <p><span style="font-family: 宋体; font-size: 13px;font-weight: bold;">手术名称:</span><span style="font-family: 宋体; font-size: 13px;">#operationName&nbsp;&nbsp;&nbsp;</span><span style="font-family: 宋体; font-size: 13px;font-weight: bold;">麻醉方式：</span><span style="font-family: 宋体; font-size: 13px;">#mzfunction</span></p>
            <p><span style="font-family: 宋体; font-size: 13px;font-weight: bold;">手术部位:</span><span style="font-family: 宋体; font-size: 13px;">#operationlocation</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 宋体; font-size: 13px;font-weight: bold;">手术体位:</span><span style="font-family: 宋体; font-size: 13px;">仰卧位</span></p>
            <table width="604" class="table1" cellSpacing=0 cellPadding=0 >
                <tr style="display:none">
                    <td width="151">&nbsp;</td>
                    <td width="151">&nbsp;</td>
                    <td width="81">&nbsp;</td>
                    <td width="221">&nbsp;</td>
                </tr>
                <tr>
                    <td class=td1 colspan="2">
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">术前检查</span></p>
                    </td>
                    <td class=td1 colspan="2">
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">术前准备</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">心电图</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">有</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;&nbsp;无</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">术前会诊</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">全组</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;全科</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;全院</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">输血前ICT</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">有</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;&nbsp;无</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">术前讨论</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">有</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;&nbsp;无</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">专科检查</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">有</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;&nbsp;无</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">术前告知</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">方案告知</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;后果告知</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
            </table>
            <table width="604" height="147" class="table1" cellSpacing=0 cellPadding=0 >
                <tr style="display:none">
                    <td width="303">&nbsp;</td>
                    <td width="78">&nbsp;</td>
                    <td width="221">&nbsp;</td>
                </tr>
                <tr>
                    <td class=td1 colspan="2">
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">患者当前情况</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">患者当前意识状态</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">除局部病变外,无系统性疾病</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">□</span><span style="font-family: 宋体; font-size: 13px;">0分</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">清醒&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">0分</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">患者有轻微的临床症状,有轻度或中度系统性疾病</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">□</span><span style="font-family: 宋体; font-size: 13px;">0分</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">模糊&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">0分</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">有严重系统性疾病,日常活动受限,未丧失工作能力</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">□</span><span style="font-family: 宋体; font-size: 13px;">1分</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">嗜睡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">1分</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">有严重系统性疾病,已丧失工作能力,威胁生命安全</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">□</span><span style="font-family: 宋体; font-size: 13px;">1分</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">昏迷&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">1分</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">病情危急,生命难以维持的濒死病人</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">□</span><span style="font-family: 宋体; font-size: 13px;">1分</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">脑死亡</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">□</span><span style="font-family: 宋体; font-size: 13px;">1分</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px;">&nbsp;</span></p>
                    </td>
                </tr>
            </table>
            <table width="604" height="136" class="table1" cellSpacing=0 cellPadding=0 >
                <tr style="display:none">
                    <td width="81">&nbsp;</td>
                    <td width="412">&nbsp;</td>
                    <td width="109">&nbsp;</td>
                </tr>
                <tr>
                    <td width="80" class=td1 rowspan="4">
                        <p><span style="font-family: 宋体; font-size: 13px;">&nbsp;</span></p>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">手术切口</span></p>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">清洁程度</span></p>
                    </td>
                    <td width="400" class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">Ⅰ类手术切口(清洁切口)</span></p>
                  </td>
                    <td class=td1>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">0</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">Ⅱ类手术切口(清洁-污染切口)</span></p>
                    </td>
                    <td class=td1>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">0</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">Ⅲ类手术切口（污染切口）</span></p>
                    </td>
                    <td class=td1>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">1</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">Ⅳ类手术切口（感染切口）</span></p>
                    </td>
                    <td class=td1>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">1</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1 rowspan="2">
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;手术持续</span></p>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">时间</span></p></td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">手术在3小时内完成</span></p>
                    </td>
                    <td class=td1>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">0</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">手术超过3小时完成</span></p>
                    </td>
                    <td class=td1>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">1</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
            </table>
            <table width="604" height="147" class="table1" cellSpacing=0 cellPadding=0 >
                <tr style="display:none">
                    <td width="130">&nbsp;</td>
                    <td width="362">&nbsp;</td>
                    <td width="110">&nbsp;</td>
                </tr>
                <tr>
                    <td width="130" class=td1 rowspan="4">
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">手术</span></p>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">类别</span></p>
                    </td>
                    <td width="350" class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">浅层组织手术</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">是</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;否</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">深部组织手术</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">是</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;否</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">器官手术</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">是</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;否</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">腔隙内手术</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">是</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;否</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1 rowspan="3">
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">预计手术</span></p>
                        <p align="center"><span style="font-family: 宋体; font-size: 13px;">缝合情况</span></p>
                    </td>
                    <td class=td1 colspan="2">
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">完全缝合
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                  </td>
                </tr>
                <tr>
                    <td class=td1 colspan="2">
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">部分缝合
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td class=td1 colspan="2">
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">留置引流
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                  </td>
                </tr>
            </table>
            <table width="604" height="172" class="table1" cellSpacing=0 cellPadding=0 >
                <tr style="display:none">
                    <td width="130">&nbsp;</td>
                    <td width="150">&nbsp;</td>
                    <td width="150">&nbsp;</td>
                    <td width="172">&nbsp;</td>
                </tr>
                <tr>
                    <td width="130" class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">预计失血量</span></p>
                  </td>
                    <td width="130" class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">0</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;ml&nbsp;</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">备血量（合计）</span></p>
                    </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">0</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;ml&nbsp;&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">≧2000ml&nbsp;1分</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="130" class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">过敏史</span></p>
                  </td>
                    <td class=td1 colspan="3">
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">有</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;无</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="130" height="40" class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">术中可能出现的意外</span></p>
                  </td>
                    <td class=td1 colspan="3">
                        <p><span style="font-family: 宋体; font-size: 13px;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr>
                    <td width="130" height="40" class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">意外情况时应对方案</span></p>
                  </td>
                    <td class=td1 colspan="3">
                        <p><span style="font-family: 宋体; font-size: 13px;">&nbsp;</span></p>
                    </td>
                </tr>
                <tr>
                    <td  height="40"class=td1 colspan="4">
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">手术风险评分：0-1&nbsp;分&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2-3&nbsp;分&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;4-5&nbsp;分&nbsp;</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                  </td>
                </tr>
          </table>
            <table width="604" height="84" class="table1" cellSpacing=0 cellPadding=0 >
                <tr style="display:none">
                    <td width="300">&nbsp;</td>
                    <td width="304">&nbsp;</td>
                </tr>
                <tr>
                    <td width="280" height="40" class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">手术医师签名：</span></p>
                  </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">资质:教授/副</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;主治</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;住院医师</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                  </td>
                </tr>
                <tr>
                    <td height="40" class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">第一助手签名：</span></p>
                  </td>
                    <td class=td1>
                        <p><span style="font-family: 宋体; font-size: 13px; padding-left: 10">资质:教授/副</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;主治</span><span style="font-family: 宋体; font-size: 13px;">□</span><span style="font-family: 宋体; font-size: 13px;">&nbsp;&nbsp;住院医师</span><span style="font-family: 宋体; font-size: 13px;">□</span></p>
                  </td>
                </tr>
            </table>
            <p><span style="font-family: 宋体; font-size: 13px;">&nbsp;</span></p>
            <table  height="40" align="center">
                <tr><td>
                </td></tr>
            </table>
        </td></tr>
    </table>

</div>
<script type="text/javascript">
    setTimeout(function(){
	    window.print();
	    window.close();
	},1500);
</script>
</body>
</html>
