<table style="width:608px">
	<tr>
		<td style="width:58px; font-weight:bold; text-align:right">手术类别</td>
		<td>
			<input type="radio" name="categoryId" value="0" id="categoryId0" /><label for="categoryId0">日间手术 &nbsp;</label>
			<input type="radio" name="categoryId" value="1" id="categoryId1" /><label for="categoryId1">住院手术 &nbsp;</label>
			<input type="radio" name="categoryId" value="2" id="categoryId2" /><label for="categoryId2">门诊手术 &nbsp;</label>
			<input type="radio" name="categoryId" value="3" id="categoryId3" /><label for="categoryId3">周末手术 &nbsp;</label>
		</td>
	</tr>
</table>